/* Reset Styles */
* {
  box-sizing: border-box;
}

/* Body Styles */
body {
  background: linear-gradient(to right, #f8d122, #df4f00);
  min-height: 100%;
  min-width: 100%;
}
#container {
  display: grid;
  grid-template-rows: 60px 40vh min-content;
  justify-content: center;
  align-items: center;
}
/* Input Styles */
#fruit {
  max-width: 580px; /* Set a maximum width if needed */
  min-width: 580px;
  height: 55px;
  padding-left: 10px;
  border: 1px solid #eca43fdd;
  background-color: #eca43fdd;
  border-bottom: 2px solid orangered;
  margin-bottom: 0;
}

input:focus {
  outline: orangered;
}

.has-content {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Suggestions Styles */
.suggestions {
  background-color: #eca43fdd;
  border: none;
}

#suggestions-ul {
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#suggestions-ul li:hover {
  cursor: pointer;
}

.suggestions ul li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

/* Search Container Styles */
.search-container {
  min-height: fit-content;
  box-shadow: 0 0 5px #0000004d; /* Subtle box shadow */
}

.has-suggestions {
  background: linear-gradient(to right, rgb(248, 173, 88), #f2930e);
  box-shadow: 0 0 10px #0000004d; /* Subtle box shadow */
  padding: 3px;
  border-radius: 10px;
}

/* For screens up to 625px */
@media screen and (max-width: 625px) {
  #fruit {
    max-width: 550px;
    min-width: 480px; /* Let it adjust automatically */
  }
}

/* For screens up to 500px */
@media screen and (max-width: 500px) {
  #fruit {
    max-width: 480px;
    min-width: 415px;
  }
}

/* For screens up to 450px */
@media screen and (max-width: 450px) {
  #fruit {
    max-width: 400px;
    min-width: 380px;
  }
}
